In [3]:
import pandas as pd 
import numpy as np

In [4]:
file = r'D:\summer in\dataset.xlsx'

In [5]:
data = pd.read_excel(file)

In [4]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\anand\appdata\roaming\python\python313\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\anand\appdata\roaming\python\python313\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
data.head()

,km(constant),m/s,N,wt. %,x10-5 mm3/Nm,x10-5 mm3/Nm.1,x10-5 mm3/Nm.2
0,sliding distance,sliding velocity,normal load,filler %,SWR,SWR,SWR
1,5,2,20,4,2.627179,17.275695,6.766977
2,5,4,60,2,3.173835,0.887598,3.631082
3,5,4,60,0,0.109748,0.768239,4.225313
4,5,4,20,0,1.481603,0.65849,12.264384

In [6]:
data.tail()

   km(constant) m/s   N wt. % x10-5 mm3/Nm x10-5 mm3/Nm.1 x10-5 mm3/Nm.2
23            5   4  40     2     4.276608       1.412087       7.100783
24            5   4  60     4     4.484781       6.846589       3.529443
25            5   2  20     0     0.411557       0.823113       6.667215
26            5   6  60     0     0.109748       0.713365       5.020989
27            5   6  40     2     0.847252        1.73485       4.559025

In [7]:
data.isnull().sum()

km(constant)      0
m/s               0
N                 0
wt. %             0
x10-5 mm3/Nm      0
x10-5 mm3/Nm.1    0
x10-5 mm3/Nm.2    0
dtype: int64

In [7]:
# Rename columns
data.rename(columns={
    "km(constant)": "Material_Constant",
    "m/s": "Velocity",
    "N": "Force",
    "wt. %": "Weight_Percentage",
    "x10-5 mm3/Nm": "Wear_Rate_1",
    "x10-5 mm3/Nm.1": "Wear_Rate_2",
    "x10-5 mm3/Nm.2": "Wear_Rate_3"
}, inplace=True)

In [9]:
data.head()

,Material_Constant,Velocity,Force,Weight_Percentage,Wear_Rate_1,Wear_Rate_2,Wear_Rate_3
0,sliding distance,sliding velocity,normal load,filler %,SWR,SWR,SWR
1,5,2,20,4,2.627179,17.275695,6.766977
2,5,4,60,2,3.173835,0.887598,3.631082
3,5,4,60,0,0.109748,0.768239,4.225313
4,5,4,20,0,1.481603,0.65849,12.264384

In [12]:
x=data[["Material_Constant",	"Velocity"	,"Force","Weight_Percentage"]]
y=data["Wear_Rate_1"]

In [13]:
x

   Material_Constant          Velocity        Force Weight_Percentage
0   sliding distance  sliding velocity  normal load          filler %
1                  5                 2           20                 4
2                  5                 4           60                 2
3                  5                 4           60                 0
4                  5                 4           20                 0
5                  5                 4           40                 0
6                  5                 2           40                 0
7                  5                 2           60                 2
8                  5                 2           60                 4
9                  5                 4           20                 2
10                 5                 2           60                 0
11                 5                 2           40                 2
12                 5                 6           40                 4
13                 5                 6           20                 0
14                 5                 6           20                 2
15                 5                 4           40                 4
16                 5                 6           40                 0
17                 5                 6           60                 4
18                 5                 4           20                 4
19                 5                 6           60                 2
20                 5                 2           20                 2
21                 5                 6           20                 4
22                 5                 2           40                 4
23                 5                 4           40                 2
24                 5                 4           60                 4
25                 5                 2           20                 0
26                 5                 6           60                 0
27                 5                 6           40                 2

In [14]:
y

0          SWR
1     2.627179
2     3.173835
3     0.109748
4     1.481603
5      0.65849
6     0.452712
7     2.582103
8     1.671841
9     7.020092
10    0.740802
11    0.726216
12    4.020381
13    2.880896
14    8.149762
15    1.632036
16    0.123467
17     0.55728
18    2.786402
19    2.797278
20    7.504236
21    5.970862
22    3.224266
23    4.276608
24    4.484781
25    0.411557
26    0.109748
27    0.847252
Name: Wear_Rate_1, dtype: object

In [22]:
import sklearn
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import  SVR
from sklearn.linear_model import  LinearRegression
from sklearn.tree import  DecisionTreeRegressor

In [47]:
# Convert non-numeric columns to numeric (if any)
X = data.iloc[:, :-1].apply(pd.to_numeric, errors='coerce')

# Drop rows with NaN (from non-convertible strings)
X = X.dropna()
y = data.iloc[X.index, -1].astype(float)  # Ensure target is correctly aligned

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Decision Tree Regressor
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)
rmse = mean_squared_error(y_test, y_pred) ** 0.5  # Manually take the square root


print(f"Decision Tree Regression RMSE: {rmse:.4f}")

Decision Tree Regression RMSE: 1.3016

In [ ]:
model2 = SVR()
model2.fit(X_train, y_train)

# Predict and evaluate
y_pred = model2.predict(X_test)
rmse = mean_squared_error(y_test, y_pred) ** 0.5  # Manually take the square root


print(f"SVR RMSE: {rmse:.4f}")

SVR RMSE: 0.8756

In [50]:
model3 = LinearRegression()
model3.fit(X_train, y_train)

# Predict and evaluate
y_pred = model3.predict(X_test)
rmse = mean_squared_error(y_test, y_pred) ** 0.5  # Manually take the square root


print(f" LinearRegression: {rmse:.4f}")

 LinearRegression: 1.9557

In [51]:
model4 =DecisionTreeRegressor()
model4.fit(X_train, y_train)

# Predict and evaluate
y_pred = model4.predict(X_test)
rmse = mean_squared_error(y_test, y_pred) ** 0.5  # Manually take the square root


print(f"DecisionTreeRegressor: {rmse:.4f}")

DecisionTreeRegressor: 1.0679

In [60]:
from xgboost import XGBRegressor


model5=XGBRegressor()
model5.fit(X_train, y_train)

# Predict and evaluate
y_pred = model5.predict(X_test)
rmse = mean_squared_error(y_test, y_pred) ** 0.5  # Manually take the square root


print(f"DecisionTreeRegressor: {rmse:.4f}")

DecisionTreeRegressor: 1.6593

In [1]:
#ANN
# Build ANN model
import tensorflow as tf
from tensorflow import keras
model = keras.Sequential([
    keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(1)  # Output layer for regression
])

# Compile model
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

# Train model
model.fit(X_train, y_train, epochs=100, batch_size=10, validation_data=(X_test, y_test))

# Evaluate model
loss, mae = model.evaluate(X_test, y_test)
print(f"ANN Model MAE: {mae:.4f}")

# Predict
y_pred = model.predict(X_test)

ModuleNotFoundError: No module named 'tensorflow'

In [7]:
!pip install tensorflow

Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow

In [9]:
python --version

NameError: name 'python' is not defined